In [2]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)\
import missingno as msno
import matplotlib.pyplot as plt
import datetime as dt

In [3]:
data = pd.read_csv('data/data_processed_simple.csv')
data.head()

,State,year,month,PRCP,EVAP,TMIN,TMAX,mean_elevation,Land Area (sq mi),Water Area (sq mi),Total Area (sq mi),Percentage of Federal Land,Urbanization Rate (%),total_fire_size
0,AK,1992,4,21.221559,50.931341,10.677199,328.046939,580,570641,94743,665384,0.609,64.9,10.1
1,AK,1992,5,5.360000,44.170000,-56.000000,233.000000,580,570641,94743,665384,0.609,64.9,4309.5
2,AK,1992,6,14.030000,39.270000,-17.000000,322.000000,580,570641,94743,665384,0.609,64.9,86460.6
3,AK,1992,7,16.780000,30.910000,28.000000,300.000000,580,570641,94743,665384,0.609,64.9,48578.5
4,AK,1992,8,10.460000,20.140000,-33.000000,267.000000,580,570641,94743,665384,0.609,64.9,3321.8

# Feature Engineering

In [ ]:
datam = data.copy()

datam['year'] = datam['year'] - 1992
datam['sin_month'] = np.sin(2*np.pi*datam['month']/12)
datam['cos_month'] = np.cos(2*np.pi*datam['month']/12)

# Rolling mean

KeyError: 'value'